<div class="main">
  <div class="container">
    <div class="insta-nav">
      <a href="{% url 'account_home' %}">
      <div class="home">
        <p class="insta-icon"><i class="fab fa-instagram fa-3x"></i></p>
        <h3 class="home-title">Instagramed</h3>
      </div>
      </a>
      <div class="search-form">
        <input type="text" placeholder="Search" class="text-center" />
      </div>
      <div class="insta-functions">
        <p><i class="far fa-compass fa-2x"></i></p>
        <p class="insta-heart"><i class="far fa-heart fa-2x"></i></p>
        <p><a href="{% url 'profile' %}"><i class="far fa-user fa-2x"></i></a></p>
      </div>
    </div>
  </div>
</div>
 