[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
pillow = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
python-dotenv = "*"
django-crispy-forms = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
