* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 400px;
  height: 400px;
  background: url("../images/1.jpg") no-repeat center center/cover;
  animation: slide 20s infinite;
}