@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font-face */
@font-face{
  font-family: "Billabong";
  src: url("../fonts/Billabong.92082996e859.ttf") format("tff"),
      url("../fonts/Billabong.e730d4a242bb.woff2") format("woff2"),
      url("../fonts/Billabong.928d53e044e4.woff") format("woff");
}
/* Logged In Homepage Styles */
.home-title {
  font-family: "Billabong";
  font-size: 2rem;
  padding: 0 1rem;
  ;

}
.home {
  display: flex;
  margin: 1rem 0;
  align-items: center;

}
.insta-icon {
  padding: 0 1rem;
  border-right: 2px solid #000
}

.insta-functions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-heart {
  padding: 0 2rem;
}

.insta-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.main {
  border-bottom: 2px solid #d3d3d3;
}

.insta-nav a {
  color: #000;
  text-decoration: none;
}

.prof_edit>a{
  display: block;
  color: #000;
  border: 1px solid #000;
  padding: 0.3rem;
  border-radius:4px;
}

.prof_edit>a:hover{
  text-decoration: none;
  background: #000;
  color: #fff;
  transition: all 0.5s ease-in;
}

/* ################## */

.title {
  font-family: "Billabong";
  font-size: 3rem;
}

.signup {
  font-family: "PT Sans";
  font-weight: 700;
  color: #4d4d4d;
  font-size: 1rem;
}

.signin {
  font-family:"PT Sans";
  font-size: 2rem;
  font-weight: 700;
  color: #4d4d4d;
}

.signup-section {
  width: 20%;
  background: red;
}

.slider {
  width: 400px;
  height: 400px;
  background: url("../images/1.4d67760ae377.jpg") no-repeat center center/cover;
  animation: slide 15s infinite;
  border-radius: 5px;
}

@keyframes slide {
  25% {
    background: url("../images/2.83952e425aca.jpg") no-repeat center center/cover;
  }
  50% {
    background: url("../images/3.e9820ba69e30.jpg") no-repeat center center/cover;
  }
  75% {
    background: url("../images/4.1e33e93e6cb1.jpg") no-repeat center center/cover;
  }
  100% {
    background: url("../images/5.e0b935b07553.jpg") no-repeat center center/cover;
  }
}

.slider-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}